/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    background-color: #F4F1EA;
}

button {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    color: #4DB6AC;
    padding: 0;
    border: 0;
}

button:hover {
    color: #009688;
    cursor: pointer;
}

.material-icons-sharp {
    font-size: 24px;
    transform: translateY(5px);
}

h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #806F58;
}

h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    color: #806F58;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #806F58;
    display: inline;
}

/* Header */

#header {
    padding: 20px 40px 0;
}

#header button {
    font-size: 24px;
    background-color: #F4F1EA;
}

/* Book List */

#booklist {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));;
}

.card {
    padding: 20px;
    background-color: #FFFFFF;
    border-left: 5px solid #90816D;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
}

.cardinfo {
    margin: 0 0 10px;
    vertical-align: center;
}

.cardinfo .material-icons-sharp {
    font-size: 18px;
    transform: translateY(3px);
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #806F58;
    display: block;
}

.author {
    font-size: 18px;
    font-weight: 400;
    color: #806F58;
}

.buttons {
    height: 100%;
    vertical-align: bottom;
    text-align: right;
    margin: 0;
}

.card button {
    font-size: 18px;
    background-color: #FFFFFF;
    margin-left: 20px;
}

.colored {
    color: #4DB6AC;
}

.uncolored {
    color: #E3E0DA;
}

/* Add/Edit Book  */

#new-book-form1 {
    display: none;
}

#new-book-form2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-book-form3 {
    width: fit-content;
    height: fit-content;
    align-self: center;
    background-color: #FFFFFF;
    padding: 20px;
}

#new-book-form3 button {
    font-size: 24px;
    background-color: #FFFFFF;
}

#new-book-form-header {
    padding: 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#new-book-form-submit {
    padding: 10px 10px 0;
}

fieldset {
    border: 0;
}

input[type="text"], textarea {
    width: 100%;
    resize: none;
    border: 2px solid #F4F1EA;
    padding: 5px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

input[type="text"]:focus, textarea:focus {
    border: 2px solid #4DB6AC;
    outline: none;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #E3E0DA;
    background-color: #E3E0DA;
}

input[type="radio"]:checked {
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #E3E0DA;
    background-color: #4DB6AC;
}

#rating {
    display: none;
}

input[name="rating"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

input[name="rating"] + label {
    color: #E3E0DA;
}

input[name="rating"] + label:hover {
    color: #4DB6AC;
    cursor: pointer;
}